<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="YanapayRio">
  <!--view-title="{{chat.name}}">-->
  <ion-content class="padding">
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">

    <br/>
    <br/>

    <div class="container-fluid">

      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <img src="img/ICONO.png" style="width: 30%;">
        </div>
        <div class="panel-body">
          <form name="formUserPost" data-ng-init="frmUserPost.procesado=false"
                class="form-horizontal" role="form"
                data-ng-submit="createPost();">
            <fieldset data-ng-disabled="false">
              <div class="row responsive-sm">
                <div class="form-group">
                  <br>
                  <label class="item item-input item-floating-label item-small col-xs-6">

                  <div class="col-xs-6">
                    <input placeholder="Titulo Post" class="form-control" style="text-transform: none" type="text" data-ng-model="frmUserPost.postTitle"
                           required>
                  </div>
                  </label>
                </div>
              </div>
                <br>
              <div class="row responsive-sm">
                <div class="form-group">
                  <label class="item item-input item-small col-xs-5" style="border: none !important;">Imagen:</label>

                  <div class="col-xs-6">
                    <input class="button button-small" type="file" ngf-select ng-model="picFile" name="file"
                           accept="image/*"
                           ngf-max-size="2MB" class="" required>
                  </div>
                </div>
              </div>
              <div class="row responsive-sm">
                <div class="form-group text-center">
                  <img ng-show="formUserPost.file.$valid" ngf-thumbnail="!picFile.$error && picFile"
                       class="thumb img-thumbnail img-responsive">
                  <input type="button button-small" class="btn btn-default" ng-click="picFile = null" ng-show="picFile"
                         value="Quitar Imagen"/>
                  <button class=" button-icon" ng-click="takePicture()"><span class="icon ion-camera " style="color: blue !important;"/></button>
                </div>
              </div>
              <br>
              <div class="row responsive-sm">
                <div class="form-group">
                  <label class="item item-input item-small item-floating-label col-xs-6" style="width: 100% !important;">

                  <div >
                    <textarea placeholder="Detalle" style="text-transform: none" class="form-control" data-ng-model="frmUserPost.postDetail"></textarea>
                  </div>
                  </label>
                </div>
              </div>
              <br>
              <div class="row responsive-sm">
                <div class="form-group">
                  <label class="item item-input item-small col-xs-5" style="border: none !important;">Geo Localizacion:</label>

                  <div class="col-xs-6">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                      <ui-gmap-marker coords="marker.coords" options="marker.options"
                                      events="marker.events" idkey="marker.id">
                      </ui-gmap-marker>
                    </ui-gmap-google-map>
                  </div>
                </div>
              </div>

              <br>
              <div class="row responsive-sm">
                <div class="form-group">
                  <label class="item item-input col-xs-5" style="border: none !important;">Categoria:</label>

                  <div class="col-xs-6">
                    <select class="item item-input item-select item-small" data-ng-model="frmUserPost.category"
                            name="category"
                            data-ng-options="item.category for item in categories"></select>

                  </div>
                </div>
              </div>
                  <br>

              <div class="row text-center">
                <div class="form-group">
                  <input type="button" class="button  button-positive" value="Cancelar"
                                                      ng-click="Regresar()">
                  <input type="submit" class="button  button-positive" value="Crear"
                  >
                </div>
              </div>
            </fieldset>

          </form>


        </div>
      </div>


    </div>

    <!--<img ng-src="{{chat.face}}" style="width: 64px; height: 64px">-->
    <!--<p>-->
      <!--{{chat.lastText}}-->
    <!--</p>-->
  </ion-content>
</ion-view>
