<ion-view view-title="YanapayRio">

  <ion-content >
    <div class="row text-right" style="padding: 0px;">
      <a href="#/tab/chats/1" class="button  button-positive ">Crear Post</a>
      <!--<input type="button" class="btn btn-primary" ng-click="gotoCreatePost()" value="Crear Post">-->
      <div class="pull-right">
        <button type="button" class="pull-right button  button-positive icon ion-android-sync" ng-click="updatePostList()"> </button>
      </div>
    </div>
    <ion-list>
      <div class="item-remove-animate item-avatar item-icon-right responsive-sm" ng-repeat="userPost in userPosts" ng-model="detalle" style="padding:0px !important;"
                type="item-text-wrap">
        <!--href="#/tab/chats/{{chat.id}}">-->
        <div class="row responsive-sm">
        <div class="col-sm-12 col-md-10 col-lg-offset-1 col" style="padding: 0px;">
          <div class="thumbnail" style="padding: 0px;">
            <div class="text-center"><h2 class="item" data-ng-bind="userPost.title"  style="background-color:#00408B; color: white"></h2><br></div>

            <div class=".col-rigth">
            <h4 class="text-right item" style="border:none !important;"><span
              ng-class="userPost.state=='Resuelto'?'label-success':'label-warning'"  ng-style="userPost.state=='Resuelto'?{ 'color': 'green'}:
                                                        { 'color': 'red'}"style="border:none !important; padding-left: 0px !important;"
              class="item ">Estado: {{userPost.state}}</span>
            </h4>
            </div>


<!--<p>{{userPost.mobilePic.data.data}}</p>-->
            <img class="full-image"  data-ng-show="!userPost.evidence" ng-src="{{userPost.picture?getPostImage(userPost.picture):userPost.mobilePicture;}}"
                 class="img-rounded img-responsive media-object"
                 style="width: auto; height: auto; max-width: 90%;max-height: 100%">

            <div data-ng-show="userPost.evidence" class="row">
              <div class="col-lg-6 col">
                <h4 class=""><label>Antes:</label></h4>
                <img ng-src="{{getPostImage(userPost.picture);}}"
                     class="img-rounded img-responsive media-object"
                     style="width: auto; height: auto; max-width: 100%;max-height: 100%">
              </div>
              <div class="col-lg-6 col">
                <h4 class=""><label>Después:</label></h4>
                <img ng-src="{{getPostImage(userPost.evidence);}}" class="img-rounded img-responsive media-object"
                     style="width:  auto; height: auto; max-width: 100%;max-height: 100%">
              </div>
            </div>
            <div class="caption">
              <div class="text-center">

                <h4><a class="item ion-ios-location-outline icon-left" style="cursor: pointer; border: medium; color: blue;" ng-click="openMaps(userPost)"> Ver Ubicación</a>
                </h4>
              </div>


             <div class="item item-body"><p id="text" class=" item-avatar"  data-ng-bind="userPost.detail"  style="color:#343434;  padding-left: 3px;" ></p>

               <div class="col">
               <button class="icon-left ion-ios-star button button-small subdued " ng-click="updateLikes(userPost);"
                       ng-style="userPost.textoApoyo?{'border-color': '#0f1c5f', 'background-color': '#122375', 'color': '#fff'}:
                                                        {'border-color': '#b2b2b2', 'background-color': '#f8f8f8', 'color': '#444'}"
                 >Apoyo<br></button>


               <label class=" subdued" data-ng-hide="userPost.likes==0"
                      style="">{{userPost.textoApoyo}}{{userPost.likes}}
                 personas {{userPost.textoApoyo?'más ':''}}apoyan esta
                 publicación</label>

                <br>
                 <div class="text-right subdued"> <label   style="border: none !important;">Categoria: {{userPost.category}}</label><br></div>
               </div>
             </div><br>







              <center> </center>
                  <br>

                </div>





            </div>
          </div>
        </div>
        <!--<img ng-src="{{chat.face}}">-->
        <!--<h2>{{chat.name}}</h2>-->
        <!--<p>{{chat.lastText}}</p>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
        <!--Delete-->
        <!--</ion-option-button>-->
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
